.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Bebas Neue", cursive;
  background-color: transparent;
}

.title {
  color: #fff;
  font-size: 2.5rem;
  margin-left: 2rem;
  margin-right: 3rem;
}

.gamesContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.game {
  height: 100px;
  width: 150px;
}

@media screen and (max-width: 768px) {
  .title {
    margin-top: 5rem;
  }
  .gamesContainer{
    margin-top: 3rem;
  }
  .game {
    height: 70px;
    width: 100px;
    margin: 0;
    padding: 0;
  }
}

